#App {
    font-family: "PT Sans", sans-serif;
    color: #9A9898
}

.small-caps, section h1, section h2, section h3, section h4 {
    font-variant: all-small-caps;
}

.pointer {
    cursor: pointer;
}

.logo {
    font-family: "Pacifico", sans-serif;
}

footer p {
    font-size: 0.9em;
}

#BlogMarkdown img {
    width: 100%;
}

.display-1 {
    font-size: 3em;
}

.display-2 {
    font-size: 2.5em;
}

.display-3 {
    font-size: 2em;
}
.display-4 {
    font-size: 1.5em;
}

nav a:hover {
    text-decoration: none;
}
