#App {
    font-family: "PT Sans", sans-serif;
    color: #9A9898
}

.small-caps, section h1, section h2, section h3, section h4 {
    font-variant: all-small-caps;
}

.pointer {
    cursor: pointer;
}

.logo {
    font-family: "Pacifico", sans-serif;
}

footer p {
    font-size: 0.9em;
}