@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";

#App {
    font-family: "PT Sans", sans-serif;
}

.small-caps {
    font-variant: all-small-caps;
}

.pointer {
    cursor: pointer;
}